<!doctype html>
<html>
    <head>
        <!-- Bootstrap CSS --> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
      </head>
    <body>
      {% if error %}
         <p><strong>Error:</strong> {{ error }}
      {% endif %}
        <!-- <div class="container">
            <div class="row justify-content-center">
              <h1>Document Search</h1>
            </div>
          </div> -->
          <header class="masthead" style="background-image: url('/static/images/home-bg.jpg')">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="site-heading">
                            <h1 class="text-center text-white font-weight-bold">DOCUMENT SEARCH</h1>
                            <h3 class="m-5 text-center text-white font-weight-bold font-italic">A Simple Search Engine For PDF Documents</h3>
                        </div>
                        <!-- <div class="alert alert-primary" role="alert">
                          Currently we support only .pdf files , we are working on other files types, stay tuned for the updates!
                        </div> -->
                        <div class="alert alert-info" role="alert">
                          <h4 class="alert-heading">Info!</h4>
                          <p>Currently we support only .pdf files and upto size limit 3MB, we are working on other files types and increased limits.</p>
                          <hr>
                          <p class="mb-0">Stay Tuned For Updates.</p>
                        </div>
                        <form method ="POST" action ="/processdocuments" enctype ="multipart/form-data">
                          <div class="container" style="padding:10px">
                              <label class="form-label" for="customFile">Select PDF Files</label>
                              <input type="file" name ="files[]" class="filecoose" id="customFile" value="" autocomplete="off" required multiple="true" accept=".pdf">
                          </div>
                      <hr><br><br><br>
                          <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Enter Your Query Here</span>
                              </div>
                              <input type="text" name="querybox" class="form-control" aria-label="Enter Your Query Here" aria-describedby="inputGroup-sizing-default"  minlength="8" maxlength = "40">
                            </div>
                            <br><br><br>
                            <div class="text-center">
                            <input type="submit" name ="" class="btn btn-outline-success btn-lg" value ="Click To Get Search Results">
                            </form>
                    </div>
                </div>
            </div>
        </header>
        <!-- <div class="alert alert-primary" role="alert">
            Currently we support only .pdf files , we are working on other files types, stay tuned for the updates!
          </div> -->
          <!-- <form method ="POST" action ="/processdocuments" enctype ="multipart/form-data">
        <div class="container" style="padding:10px">
            <label class="form-label" for="customFile">Select PDF Files</label>
            <input type="file" name ="files[]" class="filecoose" id="customFile" value="" autocomplete="off" required multiple="true" accept=".pdf">
        </div>
    <hr><br><br><br>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Enter Your Query Here</span>
            </div>
            <input type="text" name="querybox" class="form-control" aria-label="Enter Your Query Here" aria-describedby="inputGroup-sizing-default" pattern='[A-Za-z\\s]*' minlength="8" maxlength = "40">
          </div>
          <br><br><br>
          <div class="text-center">
          <input type="submit" name ="" class="btn btn-outline-success btn-lg" value ="Click To Get Search Results">
          </form> -->
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script> 
    </body>
</html>    